doctype 5
html
  // THIS LITTLE SITE CONSTRUCTED BY BRIAN MOORE WITH LOVE.
  head
    title bionicbrian
      if projectName
        &nbsp;| #{projectName}
    link(rel="stylesheet", href="/css/style.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
  body
    if projectName
        .navigator
            a(href="/") &larr; &bull; &bull; &bull; | #{projectName}
    block content
