extends ../../../views/layout.jade

block content
    //- link(rel="stylesheet", href="css/style.css")

    div(class="main")
        p This is some kind of description

    //- script(src="/js/main.js")
