@import "../../../../public/css/style"

.main
    h1
        color: #da4244

.navigator
    background-color: #ff9d8e
    border-bottom: 1px solid #ff6305

    a
    a:visited
    a:active
        color: white
        text-decoration: none

    a:hover
        color: white
        text-decoration: none
